input[type="range"] {
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
}
::-webkit-slider-runnable-track {
    border-radius: 50px;
    height: 20px;
    background: #8d8484;
}

::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin-top:5px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: -800px 0 0 790px #cc040b;
}
::-moz-range-track {
    border-radius: 50px;
    height: 20px;
    background: #8d8484;
}

::-moz-range-thumb {
    border: none;
    height: 11px;
    width: 11px;
    background: #ffffff;
    box-shadow: -800px 0 0 790px #cc040b;
}


